.DS_Store
.DS_Store?
_temp_
t3_less
typo3_src
typo3temp
typo3
t3lib
ChangeLog
GPL.txt
INSTALL.txt
LICENSE.txt
NEWS.txt
README.txt
RELEASE_NOTES.txt
ENABLE_INSTALL_TOOL
temp_*
t3bootstrap_*.css
t3bootstrap-responsive_*.css
styles_*.css
._*
Thumbs.db
/index.php
_.htaccess