<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Bootstrap, from Twitter</title>
    </head>  
    <body>
        <div class="t3bootstrap-carousel-wrap">
            <div id="t3bootstrap-carousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item">
                        <span>###IMAGE###</span>
                        <span class="headline">
                            ###CAPTION###
                        </span>
                        <span class="text">
                            ###TEXT###
                        </span>
                    </div>
                </div>
            </div>
            <a class="carousel-control left" href="#t3bootstrap-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#t3bootstrap-carousel" data-slide="next">&rsaquo;</a>
        </div>
        <span>###JS###</span>
    </body>
</html>