<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
  </head>  
  <body>
      <div class="t3bootstrap-text-image-wrap">
          <div class="t3bootstrap-text-image-inner-text">
              ###TEXT###
          </div>
          <div class="t3bootstrap-text-image-inner-image">
              <div class="t3bootstrap-text-image-inner-image-single">
                ###IMAGE###
              </div>
          </div>          
      </div>
  </body>
</html>