/*
Skin Name: Invasion
Skin URI: http://www.slidedeck.com/
Skin Type: fixed
Skin Height: 375
Description: Robot invasion!
Version: 1.0
Author: digital-telepathy
Designer: Chan Karunamuni
Author URI: http://www.dtelepathy.com/
Tags: flexible, white, black, multi-color
*/
.skin-slidedeck dl.slidedeck {
	height: 375px;
	margin: 0 0 25px;
}
.skin-slidedeck dl.slidedeck dd {
	padding: 20px;
	background: url('slides.png') 0 0 repeat-x #fff;
	color: #333;
	font-size: 12px;
}
.skin-slidedeck dl.slidedeck dt {
	cursor: pointer;
	height: 56px;
	line-height: 48px;
	font-size: 16px;
	font-family: "Arial Black", Arial, Helvetica, sans-serif !important;
	text-transform: uppercase !important;
	letter-spacing: 1px;
	color: #333 !important;
	text-align: center !important;
	background: url('spines.jpg') center 0 no-repeat;
	box-shadow: 2px 2px 5px #222;
	-moz-box-shadow: 2px 2px 5px #222;
	-webkit-box-shadow: 2px 2px 5px #222;
	-khtml-box-shadow: 2px 2px 5px #222;
	-o-box-shadow: 2px 2px 5px #222;
}
.skin-slidedeck dl.slidedeck dt.spine_2 { background-position: 0 -56px; }
.skin-slidedeck dl.slidedeck dt.spine_3 { background-position: 0 -112px; }
.skin-slidedeck dl.slidedeck dt.spine_4 { background-position: 0 -168px; }
.skin-slidedeck dl.slidedeck dt.spine_5 { background-position: 0 -224px; }
.skin-slidedeck dl.slidedeck dt.active, .slmidedeck dt.active:hover { color: #000 !important; }
.skin-slidedeck dl.slidedeck dt .index { display: none !important; }
.skin-slidedeck dl.slidedeck .activeCorner { display:none; }
.skin-slidedeck dl.slidedeck dd.slide ul.slidesVertical { text-indent: 0; }
.skin-slidedeck dl.slidedeck dd.slide ul.slidesVertical li {
	overflow: hidden;
	padding: 10px !important;
	margin: 0 !important;
}
.skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav {
	top: 10px;
	right: 10px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav li {
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0 0 3px;
	width: 12px;
	height: 12px;
	overflow: hidden;
	line-height: 12px;
	list-style: none;
	font-size: 1px; /* Stupid IE */
}
.skin-slidedeck dl.slidedeck ul li:before { content: "" !important; }
.skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav li.arrow {
	position: absolute;
	display: block;
	z-index: 1;
	width: 10px;
	height: 0;
	padding-top: 10px;
	padding-bottom: 0;
	overflow: hidden;
	left: 0;
	border: 1px solid #333;
	background: #444;
	background-image: -moz-linear-gradient(top, #000, #444); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #000),color-stop(1, #444)); /* Saf4+, Chrome */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
}
.skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav li a, .skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav li a:link, .skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav li a:visited {
	position: relative;
	display: block;
	width: 10px;
	height: 0;
	overflow: hidden;
	padding-top: 10px;
	background: #fff;
	outline: none;
	text-decoration: none;
	border: 1px solid #ccc;
	filter: Alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
}
.skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav li a:hover {
	opacity: 0.75;
	-moz-opacity: 0.75;
	-webkit-opacity: 0.75;
	filter: Alpha(opacity=75); 
}